<div id="<%= dom_id job %>">
<table class="table table-striped table-bordered table-hover table-responsive">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Total post</th>
      <th>Total CTC</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= job.name %></td>
      <td><%= job.description %></td>
      <td><%= job.total_post %></td>
      <td><%= job.ctc %></td>
      <td></td>

    </tr>
  </tbody>
</table>
</div>
