<h3 class="text-center mt-3 font-weight-bold text-info">Create New Job</h3>
<%= form_with model: @job,url:jobs_path, class: "container col-md-8" do |form|%>
<div class="form-group">
        <%= form.label :company_name, class: "form-label" %>
        <%= form.text_field :company_name, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= form.label :name, "Job Title", id:"name-label" %>
        <%= form.text_field :name, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= form.label :description, class: "form-label" %>
        <%= form.text_field :description, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= form.label :total_post, class: "form-label" %>
        <%= form.text_field :total_post, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= form.label :ctc, class: "form-label" %>
        <%= form.text_field :ctc, class: "form-control" %>
      </div>

        <div class="form-group">
        <%= form.label :image, "JD", class: "form-label" %>
        <%= form.file_field :image, class: "form-control" %>
      </div>

       <div class="form-group">
        <%= form.label :active, class: "form-label" %>
        <%= form.check_box :active,id:"box-windows"%>
      </div>

        <%= form.hidden_field :created_by, value: current_user.id %>

      <div class="form-group">
        <%= form.submit "Save", class: "btn btn-primary m-auto" %>
        <%= link_to "Back", jobs_path,class: "btn btn-danger m-auto" %>
      </div>
<br>
<% end %>