<div class="container">
  <table class="table table-hover">
    <tbody>
      <tr>
        <th>Job Title:</th>
        <td><%= @job.name %></td>
      </tr>
      <tr>
        <th>Job Description:</th>
        <td><%= @job.description %></td>
      </tr>
      <tr>
        <th>Total Post:</th>
        <td><%= @job.total_post %></td>
      </tr>
      <tr>
        <th>Job Type:</th>
        <td><%= @job.ctc %></td>
      </tr>
    </tbody>
  </table>
<% unless current_user.is_admin %>
  <% if @job.active == true  %>
    <% if   current_user.jobs.present? && current_user.jobs.pluck(:id).include?(@job.id) %>
      <p>Already applied</p>
    <% else %>
      <%= form_tag job_application_path, method: :post do %>
        <%= hidden_field_tag :job_id, @job.id %>
        <%= hidden_field_tag :user_id, current_user.id %>
        <%= submit_tag "Apply",class:"btn btn-success" %>
      <% end %>
    <% end %>
    <% else %>
    <p>admin close this job</p>
  <% end %>
<% end %>



    

  
</div>
