<h1>Applied Jobs</h1>
<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th>Sr.no</th>
      <th>Name</th>
      <th>Applied Date</th>      
      <th colspan="3">Action</th>
    </tr>
  </thead>
  <tbody>
  <%i = 0%>
    <% @applied_jobs.each do |job| %>
      <tr>
      <td><%= i= i+1%></td>
        <td><%= job_name(job.job_id).name %></td>
        <td><%= job.created_at.strftime("%d/%m/%Y") %></td>
        <td><%= link_to "view", job_path(job.job_id)%></td>

      </tr>
    <% end %>
  </tbody>
</table>


<%= link_to "New job", new_job_path %>
